.App {
  text-align: center;
  font-family: "Righteous", cursive;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 25px;
  color: rgb(31, 121, 173);
  font-size: 28px;
  background-color: #c94d46;
  cursor: crosshair;
}

.bpm-slider input {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 66px;
  cursor: crosshair;
}


.App button {
  background: white;
  padding: 2px;
  width: 100px;
  color: rgb(31, 121, 173);
  font-size: 18px;
}

.App button:hover {
  color: white;
}
